parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
